<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_id</key>
		<string>559f599582e515e069064b4c</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>Princeton</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>NJ</string>
				<key>zipcode</key>
				<string>08544</string>
			</dict>
			<key>logo</key>
			<string>/public/img/princeton.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/princeton.1.png</string>
				<string>/public/img/princeton.2.png</string>
				<string>/public/img/princeton.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.princeton.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>1</integer>
			<key>ranking</key>
			<integer>1</integer>
		</dict>
		<key>name</key>
		<string>Princeton University</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>559f598582e515e069064b4a</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>Cambridge</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>MA</string>
				<key>zipcode</key>
				<string>02138</string>
			</dict>
			<key>logo</key>
			<string>/public/img/harvard.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/harvard.1.png</string>
				<string>/public/img/harvard.2.png</string>
				<string>/public/img/harvard.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.harvard.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>2</integer>
			<key>ranking</key>
			<integer>2</integer>
		</dict>
		<key>name</key>
		<string>Harvard University</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>559f59b782e515e069064b50</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>New Haven</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>CT</string>
				<key>zipcode</key>
				<string>06520</string>
			</dict>
			<key>logo</key>
			<string>/public/img/yale.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/yale.1.png</string>
				<string>/public/img/yale.2.png</string>
				<string>/public/img/yale.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.yale.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>3</integer>
			<key>ranking</key>
			<integer>3</integer>
		</dict>
		<key>name</key>
		<string>Yale University</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>559f597382e515e069064b48</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>New York</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>NY</string>
				<key>zipcode</key>
				<string>10027</string>
			</dict>
			<key>logo</key>
			<string>/public/img/columbia.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/columbia.1.png</string>
				<string>/public/img/columbia.2.png</string>
				<string>/public/img/columbia.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.columbia.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>4</integer>
			<key>ranking</key>
			<integer>4</integer>
		</dict>
		<key>name</key>
		<string>Columbia University</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>559f599d82e515e069064b4d</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>Stanford</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>CA</string>
				<key>zipcode</key>
				<string>94305</string>
			</dict>
			<key>logo</key>
			<string>/public/img/Stanford.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/Stanford.1.png</string>
				<string>/public/img/Stanford.2.png</string>
				<string>/public/img/Stanford.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.stanford.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>5</integer>
			<key>ranking</key>
			<integer>4</integer>
		</dict>
		<key>name</key>
		<string>Stanford University</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>559f59a682e515e069064b4e</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>Chicago</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>IL</string>
				<key>zipcode</key>
				<string>60637</string>
			</dict>
			<key>logo</key>
			<string>/public/img/uchicago.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/uchicago.1.png</string>
				<string>/public/img/uchicago.2.png</string>
				<string>/public/img/uchicago.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.uchicago.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>6</integer>
			<key>ranking</key>
			<integer>4</integer>
		</dict>
		<key>name</key>
		<string>University of Chicago</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>559f598e82e515e069064b4b</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>Cambridge</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>MA</string>
				<key>zipcode</key>
				<string>02319</string>
			</dict>
			<key>logo</key>
			<string>/public/img/mit.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/mit.1.png</string>
				<string>/public/img/mit.2.png</string>
				<string>/public/img/mit.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.mit.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>7</integer>
			<key>ranking</key>
			<integer>7</integer>
		</dict>
		<key>name</key>
		<string>Massachusetts Institute of Technology</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>559f597d82e515e069064b49</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>Durham</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>NC</string>
				<key>zipcode</key>
				<string>27708</string>
			</dict>
			<key>logo</key>
			<string>/public/img/duke.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/duke.1.png</string>
				<string>/public/img/duke.2.png</string>
				<string>/public/img/duke.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.duke.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>8</integer>
			<key>ranking</key>
			<integer>8</integer>
		</dict>
		<key>name</key>
		<string>Duke University</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>559f59ae82e515e069064b4f</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>Philadelphia</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>PA</string>
				<key>zipcode</key>
				<string>19104</string>
			</dict>
			<key>logo</key>
			<string>/public/img/upenn.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/upenn.1.png</string>
				<string>/public/img/upenn.2.png</string>
				<string>/public/img/upenn.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.upenn.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>9</integer>
			<key>ranking</key>
			<integer>8</integer>
		</dict>
		<key>name</key>
		<string>University of Pennsylvania</string>
	</dict>
	<dict>
		<key>_id</key>
		<string>559f596982e515e069064b47</string>
		<key>general</key>
		<dict>
			<key>address</key>
			<dict>
				<key>city</key>
				<string>Pasadena</string>
				<key>country</key>
				<string>USA</string>
				<key>state</key>
				<string>CA</string>
				<key>zipcode</key>
				<string>91125</string>
			</dict>
			<key>logo</key>
			<string>/public/img/caltech.logo.png</string>
			<key>photos</key>
			<array>
				<string>/public/img/caltech.1.png</string>
				<string>/public/img/caltech.2.png</string>
				<string>/public/img/caltech.3.png</string>
			</array>
			<key>website</key>
			<string>http://www.caltech.edu</string>
		</dict>
		<key>metadata</key>
		<dict>
			<key>numero</key>
			<integer>10</integer>
			<key>ranking</key>
			<integer>10</integer>
		</dict>
		<key>name</key>
		<string>California Institute of Technology</string>
	</dict>
</array>
</plist>
