<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__v</key>
	<integer>0</integer>
	<key>_id</key>
	<string>559f59ae82e515e069064b4f</string>
	<key>academic</key>
	<dict>
		<key>academic_programs</key>
		<dict>
			<key>degrees_offered</key>
			<string>Bachelor's, Master's, Doctorate-research/schlarship</string>
			<key>preprofessional_programs</key>
			<string>pre-medicine</string>
			<key>qualified_undergraduate_may_take_graduate_classes</key>
			<string>Yes</string>
			<key>student_exchange_programs_offered_with</key>
			<string>Middlebury College (VT)</string>
			<key>subject_areas_offering_education_certification</key>
			<string>7</string>
			<key>teacher_certification_offered_in</key>
			<string>elementary, secondary</string>
		</dict>
		<key>faculty_and_classes</key>
		<dict>
			<key>classes_taught_by_graduate_assistants</key>
			<string>N/A</string>
			<key>full_time_faculty_with_phd_or_terminal_degree</key>
			<string>96%</string>
			<key>international</key>
			<string>8% full time, 10% part time</string>
			<key>minority</key>
			<string>19% full time, 13% part time</string>
			<key>student_faculty_ratio</key>
			<string>7:1</string>
			<key>total_faculty</key>
			<string>1702 full time, 283 part time</string>
		</dict>
		<key>graduation_and_retention</key>
		<dict>
			<key>average_freshman_retention_rate</key>
			<string>98%</string>
			<key>bachelors_degrees_awarded</key>
			<string>1,271</string>
			<key>doctoral_degrees_research</key>
			<string>319</string>
			<key>masters_degrees_awarded</key>
			<string>573</string>
			<key>pursued_further_study_immediately_after_graduation</key>
			<string>17%</string>
			<key>pursued_further_study_in_law</key>
			<string>8%</string>
			<key>pursued_further_study_in_medicine</key>
			<string>17%</string>
			<key>six_year_graduation_rate</key>
			<string>97%</string>
		</dict>
		<key>majors</key>
		<dict>
			<key>all_majors</key>
			<array>
				<string>Architecture</string>
				<string>East Asian Studies</string>
				<string>Near and Middle Eastern Studies</string>
				<string>Molecular Biology</string>
				<string>Engineering, General</string>
				<string>Chemical Engineering</string>
				<string>Civil Engineering, General</string>
				<string>Computer Engineering, General</string>
				<string>Electrical and Electronics Engineering</string>
				<string>Mechanical Engineering</string>
				<string>Operations Research</string>
				<string>English Language and Literature, General</string>
				<string>Comparative Literature</string>
				<string>Slavic Languages, Literatures, and Linguistics, General</string>
				<string>German Language and Literature</string>
				<string>French Language and Literature</string>
				<string>Hispanic and Latin American Languages, Literatures, and Linguistics, General</string>
				<string>Classics and Classical Languages, Literatures, and Linguistics, General</string>
				<string>History, General</string>
				<string>Mathematics, General</string>
				<string>Multi-/Interdisciplinary Studies, Other</string>
				<string>Philosophy</string>
				<string>Physical Sciences</string>
				<string>Astrophysics</string>
				<string>Chemistry, General</string>
				<string>Geology/Earth Science, General</string>
				<string>Physics, General</string>
				<string>Psychology, General</string>
				<string>Public Policy Analysis, General</string>
				<string>Social Sciences</string>
				<string>Anthropology</string>
				<string>Demography and Population Studies</string>
				<string>Economics, General</string>
				<string>Political Science and Government, General</string>
				<string>Sociology</string>
				<string>Art History, Criticism and Conservation</string>
				<string>Music, General</string>
			</array>
			<key>five_most_popular_majors</key>
			<dict>
				<key>Biology/Biological Sciences, General</key>
				<string>15%</string>
				<key>History, General</key>
				<string>9%</string>
				<key>Mathematics, General</key>
				<string>7%</string>
				<key>Psychology, General</key>
				<string>6%</string>
				<key>Social Sciences, General</key>
				<string>33%</string>
			</dict>
		</dict>
	</dict>
	<key>applying</key>
	<dict>
		<key>applications</key>
		<dict>
			<key>application_fee</key>
			<dict>
				<key>application_fee</key>
				<string>$75</string>
				<key>application_fee_for_students_who_apply_online</key>
				<string>Same fee</string>
				<key>application_fee_refundable</key>
				<string>No</string>
				<key>application_fee_waived_for_stdents_with_financial_need</key>
				<string>Yes</string>
				<key>deferred_admission_allowed</key>
				<string>Yes</string>
				<key>maximum_length_of_determent</key>
				<string>1 year</string>
			</dict>
			<key>application_formats</key>
			<dict>
				<key>application_url</key>
				<string>http:/​/​www.​admissions.​college.upenn.​edu/</string>
				<key>common_application_accepted</key>
				<string>Yes</string>
			</dict>
			<key>contact_information</key>
			<dict>
				<key>admission_address</key>
				<string>86 Brattle Street, Chicago, IL 06520</string>
				<key>admission_email</key>
				<string>college@fas.upenn.edu</string>
				<key>admission_phone</key>
				<string>(617) 495-1551</string>
			</dict>
			<key>early_action</key>
			<dict>
				<key>early_action_deadline</key>
				<string>November 1</string>
				<key>early_action_decision_sent_by</key>
				<string>December 16</string>
				<key>early_action_plan_offered</key>
				<string>Yes</string>
				<key>students_restricted_from_applying_to_other_early_action_plans</key>
				<string>Yes</string>
			</dict>
			<key>early_decision</key>
			<dict>
				<key>early_decision_deadline</key>
				<string>N/A</string>
				<key>early_decision_plan_offered</key>
				<string>No</string>
				<key>early_decision_sent_by</key>
				<string>N/A</string>
			</dict>
			<key>regular_decision</key>
			<dict>
				<key>application_deadline</key>
				<string>January 1</string>
				<key>deadline_for_accepting_admission_offers</key>
				<string>Must reply by May 1</string>
				<key>notification_date</key>
				<string>April 1</string>
				<key>priority_application_deadline</key>
				<string>N/A</string>
				<key>students_accepted_for_terms_other_than_the_fall</key>
				<string>No</string>
			</dict>
			<key>tuition_room_deposits</key>
			<dict>
				<key>room_deposit</key>
				<string>$0</string>
				<key>room_deposit_refundable</key>
				<string>N/A</string>
				<key>tuition_deposit</key>
				<string>$0</string>
				<key>tuition_deposit_refundable</key>
				<string>N/A</string>
			</dict>
		</dict>
		<key>entering_class_stats</key>
		<dict>
			<key>applications_acceptance_enrollments</key>
			<dict>
				<key>applicants</key>
				<string>35,023</string>
				<key>applicants_accepted</key>
				<string>2,047</string>
				<key>female_applicants</key>
				<string>16,696</string>
				<key>female_applicants_accepted</key>
				<string>955</string>
				<key>freshman_enrollment</key>
				<string>1,1,659</string>
				<key>male_applicants</key>
				<string>18,327</string>
				<key>male_applicants_accepted</key>
				<string>1,092</string>
			</dict>
			<key>selectivity</key>
			<dict>
				<key>acceptance_rate</key>
				<string>5.8%</string>
				<key>acceptance_rate_wo_early_decision</key>
				<string>6%</string>
				<key>early_action_acceptance_rate</key>
				<string>N/A</string>
				<key>early_decision_acceptance_rate</key>
				<string>N/A</string>
				<key>selectivity</key>
				<string>most selective</string>
			</dict>
			<key>wait_list</key>
			<dict>
				<key>applicants_placed_on_wait_list</key>
				<string>N/A</string>
				<key>school_has_a_wait_list</key>
				<string>Yes</string>
				<key>students_accepted_from_wait_list</key>
				<string>N/A</string>
				<key>students_accepting_place_on_wait_list</key>
				<string>N/A</string>
			</dict>
		</dict>
		<key>requirements</key>
		<dict>
			<key>academic_factors_considered</key>
			<dict>
				<key>GPA</key>
				<string>Considered</string>
				<key>SAT_subject_tests</key>
				<string>Required</string>
				<key>application_essay</key>
				<string>Considered</string>
				<key>class_rank</key>
				<string>Not Considered</string>
				<key>recommendations</key>
				<string>Considered</string>
				<key>rigor_of_secondary_school_record</key>
				<string>Considered</string>
				<key>standardized_test_scores</key>
				<string>Considered</string>
			</dict>
			<key>admission_requirements</key>
			<dict>
				<key>ACT_with_writing_test</key>
				<string>ACT with writing test required</string>
				<key>SAT_ACT_scores_must_be_received_by</key>
				<string>March 6</string>
				<key>SAT_subject_test_scores_must_be_received_by</key>
				<string>February 23</string>
				<key>admission_interview</key>
				<string>recommended</string>
				<key>campus_visit</key>
				<string>recommended</string>
				<key>college_use_SAT_or_ACT_in_admission_decisions</key>
				<string>Yes</string>
				<key>offcampus_interviews</key>
				<string>N/A</string>
				<key>open_admission_policy</key>
				<string>Yes, for all students</string>
				<key>required_standardized_tests</key>
				<string>Either SAT or ACT</string>
			</dict>
			<key>nonacademic_factors_considered</key>
			<dict>
				<key>alumni_relations</key>
				<string>Considered</string>
				<key>applicants_interest_level</key>
				<string>Not Considered</string>
				<key>character_personal_qualities</key>
				<string>Considered</string>
				<key>extracurricular_activities</key>
				<string>Considered</string>
				<key>first_generation_college_student</key>
				<string>Considered</string>
				<key>geographical_residence</key>
				<string>Considered</string>
				<key>interview</key>
				<string>Considered</string>
				<key>race_ethnicity</key>
				<string>Considered</string>
				<key>religious_affiliation</key>
				<string>Not Considered</string>
				<key>state_residency</key>
				<string>Not Considered</string>
				<key>talent_ability</key>
				<string>Considered</string>
				<key>volunteer_work</key>
				<string>Considered</string>
				<key>work_experience</key>
				<string>Considered</string>
			</dict>
		</dict>
	</dict>
	<key>financial</key>
	<dict>
		<key>average_need_based_scholarship</key>
		<string>$44,781</string>
		<key>estimated_cost_of_books_and_supplies</key>
		<string>$1,000</string>
		<key>estimated_personal_expenses</key>
		<string>$2,643</string>
		<key>room_and_board</key>
		<string>$14,669 (2014-15)</string>
		<key>students_who_received_need_based_scholarship</key>
		<string>58%</string>
		<key>tuition_and_fees</key>
		<string>$43,938 (2014-15)</string>
	</dict>
	<key>general</key>
	<dict>
		<key>address</key>
		<dict>
			<key>city</key>
			<string>Philadelphia</string>
			<key>country</key>
			<string>USA</string>
			<key>state</key>
			<string>PA</string>
			<key>zipcode</key>
			<string>19104</string>
		</dict>
		<key>logo</key>
		<string>/public/img/upenn.logo.png</string>
		<key>photos</key>
		<array>
			<string>/public/img/upenn.1.png</string>
			<string>/public/img/upenn.2.png</string>
			<string>/public/img/upenn.3.png</string>
		</array>
		<key>website</key>
		<string>http://www.upenn.edu</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>numero</key>
		<integer>9</integer>
		<key>ranking</key>
		<integer>8</integer>
	</dict>
	<key>name</key>
	<string>University of Chicago</string>
	<key>overview</key>
	<dict>
		<key>academic</key>
		<dict>
			<key>five_most_popular_majors</key>
			<dict>
				<key>Biology/Biological Sciences, General</key>
				<string>15%</string>
				<key>History, General</key>
				<string>9%</string>
				<key>Mathematics, General</key>
				<string>7%</string>
				<key>Psychology, General</key>
				<string>6%</string>
				<key>Social Sciences, General</key>
				<string>33%</string>
			</dict>
			<key>four_year_graduation_rate</key>
			<string>88%</string>
			<key>student_faculty_ration</key>
			<string>6:1</string>
		</dict>
		<key>applying</key>
		<dict>
			<key>SAT_ACT_scores_must_be_received_by</key>
			<string>January 26</string>
			<key>acceptance_rate</key>
			<string>12.2%</string>
			<key>application_deadline</key>
			<string>January 1</string>
			<key>selectivity</key>
			<string>most selective</string>
		</dict>
		<key>financial</key>
		<dict>
			<key>room_and_board</key>
			<string>$14,205 (2014-15)</string>
			<key>tuition_and_fees</key>
			<string>$48,253 (2014-15)</string>
		</dict>
		<key>general_information</key>
		<dict>
			<key>academic_calendar</key>
			<string>quarter</string>
			<key>endowment</key>
			<string>$7,688,868,000</string>
			<key>religious_affiliation</key>
			<string>N/A</string>
			<key>school_type</key>
			<string>private, coed college</string>
			<key>setting</key>
			<string>suburban</string>
			<key>year_founded</key>
			<string>1740</string>
		</dict>
		<key>rankings</key>
		<dict>
			<key>National Universities</key>
			<string>#8</string>
		</dict>
	</dict>
	<key>rankings</key>
	<dict>
		<key>key_indicators</key>
		<dict>
			<key>SAT_ACT_25th_75th_percentile</key>
			<string>1410-1600</string>
			<key>acceptance_rate</key>
			<string>5.8%</string>
			<key>alumni_giving_rank</key>
			<string>10</string>
			<key>average_alumni_giving_rate</key>
			<string>35.1%</string>
			<key>average_freshman_retention_rate</key>
			<string>97%</string>
			<key>classes_with_50_or_more_students</key>
			<string>10%</string>
			<key>classes_with_fewer_than_20_students</key>
			<string>75.6%</string>
			<key>faculty_resources_rank</key>
			<string>3</string>
			<key>financial_resource_rank</key>
			<string>5</string>
			<key>freshmen_in_top10percent_of_high_school_class</key>
			<string>95%</string>
			<key>freshmen_in_top25percent_of_high_school_class</key>
			<string>99%</string>
			<key>graduation_and_retention_rank</key>
			<string>2</string>
			<key>high_school_counselor_score</key>
			<string>4.9</string>
			<key>overperformance_over_underperformance</key>
			<string>2</string>
			<key>peer_assessment_score</key>
			<string>4.9</string>
			<key>percent_of_faculty_who_are_fulltime</key>
			<string>94.8%</string>
			<key>predicated_graduation_rate</key>
			<string>95%</string>
			<key>score</key>
			<string>95</string>
			<key>six_year_graduation_rate</key>
			<string>97%</string>
			<key>student_falculty_ratio</key>
			<string>7:1</string>
			<key>student_selectivity_rank</key>
			<string>5</string>
		</dict>
		<key>rankings</key>
		<dict>
			<key>National Universities</key>
			<string>#4</string>
		</dict>
	</dict>
</dict>
</plist>
